---
---

<footer class="minimal-footer">
  <p>&copy; 2026 The Japanese Fluency Academy. All Rights Reserved.</p>
  <div class="footer-links">
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-and-conditions">Terms of Service</a>
  </div>
</footer>
