---
---

<header class="hero-section">
  <div class="hero-container">
    <span class="badge first-badge">NOW ACCEPTING GLOBAL SEATS</span>
    <h1 class="hero-title">Japanese For The <br />Logic-Driven.</h1>
    <div class="hero-text-stack">
      <p class="hero-line-main">I guide sharp minds towards fluency through my <strong>structure-first live sessions</strong> and <strong>carefully designed learning environment</strong>.</p>
      <p class="hero-line-italic">Since marketing fools 90% of people, I'll take the ones who actually think.</p>
    </div>
    <div class="hero-cta-group">
      <a href="#pricing" class="btn-primary w-fit max-sm:w-full px-8">Apply For A Seat</a>
      <a href="#roadmap" class="btn-secondary w-fit max-sm:w-full px-8">View My 16-Year Journey</a>
    </div>
  </div>
</header>
